<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{{url_for('static',filename='assets/custom.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta http-equiv="refresh" content="3600">
    <title>On Duty Tracking</title>
</head>
<style>
    .menu-navbar:hover {
        color: #94b7ff;
        border-bottom: solid 1px;
    }
</style>

<body>
    <div class="d-flex flex-column justify-content-between vh-100">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img class="logo" src="/static/images/logo BMKG.png" alt="">
                    <span class="text-logo d-lg-inline ml-3">Meteorology Early Warning <br>System</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link menu-navbar" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-navbar" href="#">
                            Custom
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR END -->

        <!-- ISI -->
        <div class="container">
            <h3 class="mt-5 pt-5 text-center" style="font-weight: 600;">Edit Officer</h3>
            <hr class="text-footer">

            <div class="dropdown text-center">
                <button class="btn btn-secondary dropdown-toggle button-setting" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Menu Officer
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('custom')}}">Add officer</a></li>
                    <li><a class="dropdown-item" href="{{url_for('remove')}}">Remove officer</a></li>
                    <li><a class="dropdown-item" href="">Edit officer</a></li>
                </ul>
            </div>
            <div class="col-md-9 dropdown text-center mt-5">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Officer names
                </button>
                <ul class="dropdown-menu">
                    {% for data in table %}
                    <li><a class="dropdown-item" href="#" onclick="showOfficerForm('{{data.Nama}}', '{{data.NIP}}','{{data.Profpics}}')">{{data.Nama}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-6 d-flex justify-content-center mx-auto">
                <form class="mt-4" id="officerForm" style="width: 80%;" method="POST" enctype="multipart/form-data" action="">
                    <div class="mb-3">
                        <label class="form-label">Nama</label>
                        <input type="text" class="form-control" id="nama" name="nama">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">NIP</label>
                        <input type="text" class="form-control" id="nip" name="nip">
                    </div>
                    <img src="" alt="Foto Pegawai" id="fotoPegawai" style="max-width: 10rem;" name="fotoPegawai">
                    <div class="mb-3 mt-3">
                        <label class="form-label">Upload Foto</label>
                        <input type="file" class="form-control-file" id="foto" name="fotoUploadPegawai">
                    </div>
                    <button type="submit" class="btn button-setting text-white" style="width: 100%;">Submit</button>
                </form>
            </div>

        </div>
        <!-- ISI END -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const officerDropdown = document.getElementById("officerDropdown");
            const infoNama = document.getElementById("infoNama");
            const infoNIP = document.getElementById("infoNIP");
            const infoFoto = document.getElementById("infoFoto");

            officerDropdown.addEventListener("click", function (e) {
                e.preventDefault();
                if (e.target.classList.contains("dropdown-item")) {
                    const nama = e.target.getAttribute("data-nama");
                    const nip = e.target.getAttribute("data-nip");
                    const foto = e.target.getAttribute("data-foto");

                    infoNama.textContent = nama;
                    infoNIP.textContent = nip;
                    infoFoto.src = foto;
                }
            });
        });
        function showOfficerForm(pegawaiName, nip, foto) {
            // Mengisi input form dengan nama dan NIP pegawai yang dipilih
            document.getElementById('nama').value = pegawaiName;
            document.getElementById('nip').value = nip;

            // Menampilkan foto pegawai
            var fotoPegawai = document.getElementById('fotoPegawai');
            fotoPegawai.src = foto;
            fotoPegawai.style.display = 'block';

            // Menampilkan form input
            document.getElementById('officerForm').style.display = 'block';
        }



    </script>

</body>

</html>