body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.navbar-wrapper {
    background-color: black;
    overflow: hidden;
    padding: 0px 0px;
    position: relative;
    /* text-decoration: none; */
}

.navbar-wrapper img {
    float: left;
    margin: 0px 0px;
    padding: 0px 15px;
    padding-bottom: 10px;
    width: 3%;
}

.navbar-wrapper a{
    text-decoration: none;
}

.navbar-wrapper p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

h1 {
    color: white;
    /* font-size: 20px; */
    font-weight: bold;
    text-align: center;
}

.image-container {
    position: relative;
    background: darkgrey;
    height: 320;
    width: 500px;
    margin: 2% auto;
    /* transform: translate(-50%,-50%); */
    text-align: center;
}

.image-container img{
    display: inline-block;
    vertical-align: middle;
    max-width: 240px;
    max-height: 320px;
}

.image-container p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    padding: 0;
    margin: 0;
}

.image-container h2 {
    margin: 0;
    padding: 0;
    color: white;
}

.ofc-on-dty-container {
    position: relative;
    background: darkgrey;
    width: 100%;
    height: 320px;
    margin: 2% auto;
    display: flex;
    /* align-items: center; */
}

.ofc-on-dty-container .container {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

.container img {
    width: 240px;
    height: 320px;
    margin-right: 20px;
}

.container h2 {
    margin: 0;
    padding: 0;
    color: white;
}

.container p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    padding: 0;
    margin: 0;
}

.img-just {
    display: flex;
    align-items: center;
}